#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.cardStat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25vw;
    margin: 5em;
    border: 1px solid black;
    border-radius: 2em;
    padding: 3em;
    background-color: rgb(43, 58, 83);
}
